### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].unique())
new_df = pd.DataFrame({"Total Players": [total_players]
                      })
new_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.head()
unique_item = purchase_data["Item ID"].nunique()
unique_item
average_price = float("{0:.2f}".format(purchase_data["Price"].mean()))
average_price
num_of_purchase = purchase_data["Purchase ID"].count()
num_of_purchase
total_rev = float("{0:.2f}".format(purchase_data["Price"].sum()))
total_rev
df_total = pd.DataFrame({"Number of Unique Items": unique_item,
                   "Average Price": "$" + str(average_price),
                   "Number of Purchases": [num_of_purchase],
                   "Total Revenue": "$" + str(total_rev)
                        })
df_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
male = purchase_data[purchase_data["Gender"] == "Male"]
pct_male = float("{0:.2f}".format((len(male) / num_of_purchase * 100)))
female = purchase_data[purchase_data["Gender"] == "Female"]
pct_female = float("{0:.2f}".format((len(female) / num_of_purchase * 100)))
nonDC = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
pct_nonDC = float("{0:.2f}".format((len(nonDC) / num_of_purchase * 100)))
df_gender_demo = pd.DataFrame({" ": ["Male", "Female", "Other / Non-Disclosed"],
                   "Percentage of Players": [pct_male, pct_female, pct_nonDC],
                   "Total Count": [len(male), len(female), len(nonDC)]
                              })
df_gender_demo.set_index(" ", inplace=True)
df_gender_demo

                       Percentage of Players  Total Count

Male                                   83.59          652
Female                                 14.49          113
Other / Non-Disclosed                   1.92           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
male = purchase_data[purchase_data["Gender"] == "Male"]
avg_price_male = "${0:.2f}".format(float(male["Price"].mean()))
total_male = "{0:.2f}".format(float(male["Price"].sum()))
female = purchase_data[purchase_data["Gender"] == "Female"]
avg_price_female = "${0:.2f}".format(float(female["Price"].mean()))
total_female = "{0:.2f}".format(float(female["Price"].sum()))
nondc = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
avg_price_nondc = "${0:.2f}".format(float(nondc["Price"].mean()))
total_nondc = "{0:.2f}".format(float(nondc["Price"].sum()))
normalized_male = "${0:.2f}".format(float(total_male) / len(male))
normalized_female = "${0:.2f}".format(float(total_female) / len(female))
normalized_nondc = "${0:.2f}".format(float(total_nondc) / len(nondc))
df_purchasing = pd.DataFrame({" ": ["Gender", "Female", "Male", "Other / Non-Disclosed"],
                              "Purchase Count": ["", len(female), len(male), len(nondc)],
                              "Average Purchase Price": ["", avg_price_female, avg_price_male, avg_price_nondc],
                              "Total Purchase Value": ["", "$"+total_female, "$"+total_male, "$"+total_nondc],
                              "Normalized Totals": ["", normalized_male, normalized_female, normalized_nondc]
                             })
df_purchasing.set_index(" ", inplace=True)
df_purchasing.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
,,,,
Gender,,,,
Female,113,$3.20,$361.94,$3.02
Male,652,$3.02,$1967.64,$3.20
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data_age_group = purchase_data.groupby("Age Group")
age_group_count = purchase_data_age_group.count()
age_group_pct = []
for i in range(len(group_names)):
     group_pct = (age_group_count["Age"][i] / age_group_count["Age"].sum())*100
     age_group_pct.append(group_pct)        
df_age_group = pd.DataFrame({"Percentage": age_group_pct,
                             "Total Count": age_group_count["Age"]
                           })
df_age_group["Percentage"] = df_age_group["Percentage"].map('{:,.2f}'.format)
df_age_group

          Percentage  Total Count
Age Group
<10             2.95           23
10-14           3.59           28
15-19          17.44          136
20-24          46.79          365
25-29          12.95          101
30-34           9.36           73
35-39           5.26           41
40+             1.67           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data_age_group = purchase_data.groupby("Age Group")
age_group_count = purchase_data_age_group.count()
total_value = []
average_price = []
normalized_average = [] 
for i in range(len(group_names)):
    total = purchase_data_age_group["Price"].sum()[i]
    total_value.append(total)
    average = purchase_data_age_group["Price"].mean()[i]
    average_price.append(average)
    normalized =  total / age_group_count["Age"][i]
    normalized_average.append(normalized)
df_age_analysis = pd.DataFrame({"Purchase Count": age_group_count["Age"],
                                "Average Purchase Price": average_price, 
                                "Total Purchase Value": total_value, 
                                "Normalized Average": normalized_average
})
df_age_analysis["Average Purchase Price"] = df_age_analysis["Average Purchase Price"].map('${:,.2f}'.format)
df_age_analysis["Total Purchase Value"] = df_age_analysis["Total Purchase Value"].map('${:,.2f}'.format)
df_age_analysis["Normalized Average"] = df_age_analysis["Normalized Average"].map('${:,.2f}'.format)
df_age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Average
Age Group,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
purchase_data.head()
purchase_data_SN_group = purchase_data.groupby("SN")
num_of_purchase = purchase_data["SN"].value_counts()
purchase_count = num_of_purchase.count()
average_price = []
total_price = []
for i in range(len(num_of_purchase)):
    average = purchase_data_SN_group["Price"].mean()[i]
    average_price.append(average)
    total = purchase_data_SN_group["Price"].mean()[i] * num_of_purchase[i]
    total_price.append(total)
df_top_spenders = pd.DataFrame({"Purchase Count": num_of_purchase, 
                                "Average Purchase Price": average_price,
                                "Total Purchase Value": total_price})
df_top_spenders = df_top_spenders.sort_values(by="Total Purchase Value", ascending=False)
df_top_spenders["Average Purchase Price"] = df_top_spenders["Average Purchase Price"].map('${:,.2f}'.format)
df_top_spenders["Total Purchase Value"] = df_top_spenders["Total Purchase Value"].map('${:,.2f}'.format)
df_top_spenders.head()

              Purchase Count Average Purchase Price Total Purchase Value
Iral74                     4                  $4.91               $19.64
Idastidru52                4                  $4.48               $17.92
Phyali88                   3                  $4.91               $14.73
Pheodaisun84               3                  $4.80               $14.40
Tyisur83                   3                  $4.60               $13.80

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
items_df = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]
item_count = items_df["Item Name"].value_counts()
items_group = items_df.groupby(["Item ID", "Item Name"])
total_purchase = []
item_price = []
for i in range(len(items_df["Item Name"].value_counts())):
    price = items_df["Price"][i]
    item_price.append(price)
    total = items_df["Price"][i] * items_df["Item Name"].value_counts()[i]
    total_purchase.append(total)
popular_items = pd.DataFrame({
                              "Purchase Count": item_count,
                              "Item Price": item_price,
                              "Total Purchase Value": total_purchase})
popular_items["Item Price"] = popular_items["Item Price"].map('${:,.2f}'.format)
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map('${:,.2f}'.format)
popular_items

,Purchase Count,Item Price,Total Purchase Value
Final Critic,13,$3.53,$45.89
"Oathbreaker, Last Hope of the Breaking Storm",12,$1.56,$18.72
Nirvana,9,$4.88,$43.92
"Extraction, Quickblade Of Trembling Hands",9,$3.27,$29.43
Persuasion,9,$1.44,$12.96
Fiery Glass Crusader,9,$3.61,$32.49
Winter's Bite,8,$2.18,$17.44
"Shadow Strike, Glory of Ending Hope",8,$2.67,$21.36
Singed Scalpel,8,$1.10,$8.80
"Lightning, Etcher of the King",8,$3.58,$28.64
Brutality Ivory Warmace,8,$4.74,$37.92
Wolf,8,$2.67,$21.36
"Pursuit, Cudgel of Necromancy",8,$4.18,$33.44
Retribution Axe,8,$1.70,$13.60
"Glimmer, Ender of the Moon",7,$4.86,$34.02
Suspension,7,$2.89,$20.23
"Thorn, Satchel of Dark Souls",7,$2.52,$17.64
Demise,7,$1.76,$12.32
"Heartstriker, Legacy of the Light",7,$4.90,$34.30
Exiled Doomblade,7,$4.64,$32.48
"Oathbreaker, Spellblade of Trials",7,$4.60,$32.20
Malificent Bag,7,$1.48,$10.36
Vengeance Cleaver,7,$3.81,$26.67
Frenzied Scimitar,6,$3.40,$20.40
Phantomlight,6,$3.19,$19.14
Ghastly Adamantite Protector,6,$4.23,$25.38
Dawne,6,$1.61,$9.66
Hero Cane,6,$3.09,$18.54
Eternal Cleaver,6,$4.32,$25.92
Verdict,6,$3.16,$18.96
...,...,...,...
Stormfury Mace,2,$1.76,$3.52
Rusty Skull,2,$1.28,$2.56
Relentless Iron Skewer,2,$3.03,$6.06
"Flux, Destroyer of Due Diligence",2,$1.44,$2.88
Spectral Diamond Doomblade,2,$1.63,$3.26
Trickster,2,$4.23,$8.46
"Torchlight, Bond of Storms",2,$2.89,$5.78
Unholy Wand,2,$1.79,$3.58
"Sun Strike, Jaws of Twisted Visions",2,$3.53,$7.06
Foul Titanium Battle Axe,2,$4.89,$9.78
"Frenzy, Defender of the Harvest",2,$3.94,$7.88
Whistling Mithril Warblade,2,$2.38,$4.76
"Heartseeker, Reaver of Souls",2,$2.49,$4.98
"Rage, Legacy of the Lone Victor",2,$1.66,$3.32
Dreamkiss,2,$4.24,$8.48
Curved Axe,2,$3.09,$6.18
"Winterthorn, Defender of Shifting Worlds",2,$1.09,$2.18
Possessed Core,2,$2.21,$4.42
Stormfury Longsword,2,$4.80,$9.60
Foul Edge,2,$1.75,$3.50
Celeste,1,$2.28,$2.28
"Alpha, Reach of Ending Hope",1,$2.42,$2.42
Undead Crusader,1,$3.44,$3.44
"Ghost Reaver, Longsword of Magic",1,$4.24,$4.24
Gladiator's Glaive,1,$4.08,$4.08
Betrayer,1,$1.94,$1.94
The Decapitator,1,$4.35,$4.35
Endbringer,1,$4.80,$4.80
Exiled Mithril Longsword,1,$1.40,$1.40
"Riddle, Tribute of Ended Dreams",1,$4.60,$4.60

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
popular_items = popular_items.sort_values(by="Purchase Count", ascending=False)
popular_items.head()

,Purchase Count,Item Price,Total Purchase Value
Final Critic,13,$3.53,$45.89
"Oathbreaker, Last Hope of the Breaking Storm",12,$1.56,$18.72
Nirvana,9,$4.88,$43.92
"Extraction, Quickblade Of Trembling Hands",9,$3.27,$29.43
Persuasion,9,$1.44,$12.96